{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'payment/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}仕入管理{% endblock %}</title>
</head>
  <body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'login:top' %}">ホームページ名</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{% url 'login:logout' %}">ログアウト</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'login:login' %}">
                ようこそ、ゲスト！ログインはこちら
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
    <script src="{% static 'payment/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'payment/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>